@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

 body{
    font-family: "Mulish", sans-serif;
 }

 *{
    margin: 0;
 }

 .container{
    width: 90%;
    margin: 5rem auto;
    border-radius: 1rem;
 }

 /* shared style */

 h3{
    font-weight: 800;
    font-size: 2.5rem;
    color: rgb(19, 19, 24);
    text-align: center;
    line-height: normal;
 }

 p,li{
    color: rgba(19, 19, 24, 0.7); 
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
 }

 .dark-2{
    color: rgb(66, 66, 71);
 }

 button{
     
    width: 174px;
    height: 52px;
    left: 610px;
    right: -610px;
    top: 16px;
    bottom: -16px;
    color: rgb(255, 255, 255);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 8px;
    
    background: rgb(255, 84, 0);
    border: none;
    margin-top: 1rem;
    cursor: pointer;
     }

     .country{
        position: absolute;
        top: 50%;
        left: 50%;
        color: white;
        font-weight: bold;
        font-size: 28px;
        transform: translate(-50%, -50%);
     }

 /* navbar style */

 .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .logo{
    display: flex;
    align-items: center;
    width: 380px;
    gap: .5rem;
 }

 .logo img{
    width: 48px;
    height: 56px;
 }

 .logo h3{
    font-weight: 800;
    font-size: 36px;
 }

 .span{
    color: rgb(255, 84, 0);
 }

 .nav-link{
    display: flex;
    justify-content: space-evenly;
    gap: 3rem;
 }

 .nav-link li{
    list-style: none;
 }

 .nav-link a{
    text-decoration: none;
    font-weight: 400;
    font-size: 1.25rem;
 }

 .hamburg{
   display: none;
 }

 /* hero style */

 .hero{
    background-image: linear-gradient(
        180deg,
        rgba(19,19,24, 0.8) 0%,
        rgba(19,19,24, 0) 100%
    ),  
     url("./Images/hero-bg.png");
     padding: 7rem 0;
     background-position: center;
     background-size: cover;
     border-radius: 16px;
     margin-top: 50px;
     
 }

 .hero-input{
     text-align: center;
     margin-top: 2rem;
     border-radius: 8px;
     background: rgba(255, 255, 255, 0.3);
     padding: 1rem;
     width: 800px;
     height: 84px;
     margin: 0 auto;
     display: flex;
     flex-direction: row;
     justify-content: flex-start;
     align-items: flex-start;
 


 }

 .hero-input select {
    /* Rectangle 3 */
 
width: 174px;
height: 52px;
left: 16px;
right: -16px;
top: 16px;
bottom: -16px;
border-radius: 8px;

background: rgb(255, 255, 255);
border: none;
 margin: 1rem;
 color: rgba(19, 19, 24, 0.5);
font-family: Mulish;
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0%;
text-align: center;
cursor: pointer;
 
 } 

 .hero-input input{
    text-align: left;
 }

 .hero-input input{
   width: 174px;
height: 16px;
margin: 1rem;
border-radius: 8px;
border: none;
 }

 



 .hero-content h3{
    color: white;
    font-size: 4rem;
 }

 .hero-content p{
    width: 676px;
    padding: 1.5rem 0;
    margin: auto;
    color: white;
 }

 /* popular style */

 .popular{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 60px;
    gap: 5rem;
 }

 .popular-content{
    width: 576px;
    height: 550px;
 }

 .popular-content p, li{
    text-align: left;
    margin: 1rem;
 }

 .title{
    text-align: left;
 }

 .popular-img img{
   
width: 100%;
height: 550px;
 
 }

 /* destination */

 .destination{
    margin-top: 60px;
 }

 .destination-content{
    width: 644px;
    height: 126px;
    margin: 0 auto;
 }
 .country-card{
    position: relative;
 }

 
 .row-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1rem 0;
    gap: 1rem;
 }

 .row-2{
    display: grid;
    grid-template-columns: .8fr 1.5fr .7fr;
    margin: 1rem 0;
    gap: 1rem;
 }

 
  
 .row-3{
   display: grid;
   grid-template-columns: 1fr 2fr ;
   margin: 1rem 0;
   gap: 1rem;
 }

 .destination-img img{
    width: 100%;
    height: 300px;
    filter: brightness(70%);
 }

 /* choose section */

 .choose{
   margin-top: 60px;

 }

 .choose-content{
   width: 644px;
   height: 52px;
   margin: 0 auto;
 }

 .choose-cards{
   margin-top: 80px;
   display: grid;
   grid-template-columns: repeat(2, 1fr );
   gap: 1rem;
 }

 .choose-card-1{
    background-color: bisque;
    border: 1px solid black;
    border-radius: 1rem;
    
  
 }
 .choose-card-2{
    background-color: rgb(196, 239, 255);
    border: 1px solid black;
    border-radius: 1rem;
     
   
  
 }
 
  

 

 .choose-box img{
   width: 10%;
   margin-bottom: 1.25rem;
   border: 2px dashed rgb(123, 123, 248);
 }

 .choose-box{
   padding: 2rem;
   display: flex;
   flex-direction: column;
   justify-content: left;
   align-items: left;
   
 }

 .choose-box p{
   text-align: left;
 }

 .choose-box:hover{
   border: 3px solid rgb(123, 123, 248);
   border-radius: 1rem;
 }


 /* deal section style */
 .deal-btn{
    text-align: center;
 }
 .deal{
   margin-bottom: 60px;
 }

 .deal-container{
   margin-top: 60px;
 }

 .deal-content{
   width: 644px;
   height: 126px;
   margin: 0 auto;
 }

 .discount-container{
   max-width: 90%;
   height: 500px;
   margin: 0 auto;
   border: 1px solid blue;
   border-radius: 1rem;
   background-image: url('./Images/Group\ 39.png');
   background-repeat: no-repeat;
   background-size: cover;
   margin-bottom: 30px;
 }

 .discount-container-2{
    
   max-width: 90%;
   height: 500px;
   margin: 0 auto;
   border: 1px solid blue;
   border-radius: 1rem;
   background-image: url('./Images/Group\ 39.png');
   background-repeat: no-repeat;
   background-size: cover;
   margin-bottom: 30px;
 }
 .discount-container-3{
    
   max-width: 90%;
   height: 500px;
   margin: 0 auto;
   border: 1px solid blue;
   border-radius: 1rem;
   background-image: url('./Images/Group\ 39.png');
   background-repeat: no-repeat;
   background-size: cover;
    
 }

 .discount{
   text-align: left;
   margin-top: 1rem;
 }
.icon{
    display: flex;
    gap: 1rem;
}

.icon i{
   color: red;
}

.discount-card{
   max-width: 500px;
   height: 300px;
   margin: 0 auto;
   background-color: white; 
   opacity: 75%;
   margin-top: 5rem;
   margin-left: 40rem;
   border-radius: 1rem;
   padding: 1rem;
}
.discount-card-2{
   max-width: 500px;
   height: 300px;
   margin: 0 auto;
   background-color: white; 
   opacity: 75%;
   margin-top: 5rem;
   margin-left: 3rem;
   border-radius: 1rem;
   padding: 1rem;
}
.discount-card-3{
   max-width: 500px;
   height: 300px;
   margin: 0 auto;
   background-color: white; 
   opacity: 75%;
   margin-top: 5rem;
   margin-left: 40rem;
   border-radius: 1rem;
   padding: 1rem;
}

.place-container{
   display: flex;
   margin-top: 3rem;
   width: 90%;
   margin: 0 auto;
   gap: 8rem;
}

.place-content{
   width: 532px;
   height: 424px;
}

.place-video{
   width: 100%;
}

.placeoff{
   text-align: left;
}
.placeoff li{
   color: black;
   font-weight: 800;
}

.subscribe{
   display: flex;
   gap: 2rem;
   margin-top: 200px;

}

.input{
   width: 474px;
   height: 422px;
   margin-bottom: 2px;
   border: 2px solid rgb(255, 84, 0);
   padding: 30px;
   border-radius: .5rem;
   
}

.input  p{
   text-align: left;
   margin-bottom: 1.5rem;
}

.input h4{
   margin-bottom: 1.5rem;
   font-size: 24px;
   font-weight: 800;
}

input{
   margin-bottom: 1.5rem;
   padding: 16px;
   width: 393px;
   border-radius: 8px;
    
}

.input button{
   width: 430px;
}

hr{
   margin: 2rem 0;
   width: 420px;
   color:rgba(19, 19, 24, 0.1);
}
 
.subscribe-img img{
   height: 485px;
   width: 690px;
}


footer{
   background-color: gray;
   color: white;
}

.footer-content{
   width: 800px;
   margin: 0 auto;
    
}

.title{
   display: flex;
   justify-content: center;
   padding: 40px;
}

.icons-5{
   margin-left: 300px;
   font-size: 40px;
   color: black;
}

.footer-content p{
   margin-bottom: 30px;
}

.footer-hr{
   width: 800px;
}

.footer-p{
    padding: 30px;
}


/* responsive style */

@media screen and (max-width: 576px) {
     .nav-link{
      display: none;
     }

     .logo h3{
      font-size: 24px;
     }
     .hamburg{
      display:  block;
      font-size: 26px;
      cursor: pointer;
    }

    .container{
      
      margin: 5rem auto;
      border-radius: 1rem;
   }

   .hero-input{
      flex-direction: column;
      padding: 1rem;
     width: 100%;
     height: 100%;

      
   }
   .hero-content h3{
       
      font-size: 2rem;
   }
   .hero-content p{
      width: 50%;
      font-size: 12px;
       
   }

   .hero-input input{
      width: 70%;
      text-align: center;
   }
   .hero-input select{
      width: 80%;
      text-align: center;
   }

    
   
   .hero-input button{
      width: 90%;
      text-align: center;
   }
   .popular{
       
      grid-template-columns: 1fr ;
      
   }

   .popular-img img{
   
      width: 100%;
      margin-top: 300px;
       
       
       }
       .popular-content{
         width: 100%;
         text-align: left;
         
      }

      .destination-content,.choose-content, .deal-content{
         width: 100%;
      }

      .destination-img{
         margin-top: 100px;
      }

      .row-1,
      .row-2,
      .row-3{
         grid-template-columns: 1fr;
      }

      .choose-cards{
         margin-top: 100px;
         grid-template-columns: 1fr;
      }

      .discount-container{
         margin-top: 30px;
         width: 100%;
      }

      .discount-card{
         width: 100%;
         margin: 0 auto;
         margin-top: 80px;
      }
      .discount-container-2{
         margin-top: 30px;
         width: 100%;
      }

      .discount-card-2{
         width: 100%;
         margin: 0 auto;
         margin-top: 80px;
      }
      .discount-container-3{
         margin-top: 30px;
         width: 100%;
      }

      .discount-card-3{
         width: 100%;
         margin: 0 auto;
         margin-top: 80px;
      }

      .place-container{
          flex-direction: column;
      }

      .place-content{
         width: 100%;
      }
      .place-video iframe{
         width: 100%;
      }
      .subscribe{
         flex-direction: column;
         
      }

      .input{
         width: 80%;
      }

      input{
         width: 80%;
          
      }

      hr{
         width: 80%;
      }

      .input button{
         width: 100%;
      }

      .subscribe-img img{
         width: 100%;
      }

      footer{
         width: 100%;
      }

      .footer-content{
         width: 100%;
      }
      .icons-5{
         margin: 0 auto;
         text-align: center;
      }
      
      
      .footer-content p{
         margin-bottom: 30px;
      }
      
      .footer-hr{
         width: 100%;
      }
}

  
