@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

 body{
    font-family: "Mulish", sans-serif;
 }

 *{
    margin: 0;
 }

 .container{
    width: 90%;
    margin: 5rem auto;
    border-radius: 1rem;
 }

 /* shared style */

 h3{
    font-weight: 800;
    font-size: 2.5rem;
    color: rgb(19, 19, 24);
    text-align: center;
    line-height: normal;
 }

 p,li{
    color: rgba(19, 19, 24, 0.7); 
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
 }

 .dark-2{
    color: rgb(66, 66, 71);
 }

 button{
     
    width: 174px;
    height: 52px;
    left: 610px;
    right: -610px;
    top: 16px;
    bottom: -16px;
    color: rgb(255, 255, 255);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 8px;
    
    background: rgb(255, 84, 0);
    border: none;
    margin-top: 1rem;
    cursor: pointer;
     }

     .country{
        position: absolute;
        top: 50%;
        left: 50%;
        color: white;
        font-weight: bold;
        font-size: 28px;
        transform: translate(-50%, -50%);
     }

 /* navbar style */

 .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .logo{
    display: flex;
    align-items: center;
    width: 380px;
    gap: .5rem;
 }

 .logo img{
    width: 48px;
    height: 56px;
 }

 .logo h3{
    font-weight: 800;
    font-size: 36px;
 }

 .span{
    color: rgb(255, 84, 0);
 }

 .nav-link{
    display: flex;
    justify-content: space-evenly;
    gap: 3rem;
 }

 .nav-link li{
    list-style: none;
 }

 .nav-link a{
    text-decoration: none;
    font-weight: 400;
    font-size: 1.25rem;
 }

 /* hero style */

 .hero{
    background-image: linear-gradient(
        180deg,
        rgba(19,19,24, 0.8) 0%,
        rgba(19,19,24, 0) 100%
    ),  
     url("./Images/hero-bg.png");
     padding: 7rem 0;
     background-position: center;
     background-size: cover;
     border-radius: 16px;
     margin-top: 50px;
     
 }

 .hero-input{
     text-align: center;
     margin-top: 2rem;
     border-radius: 8px;
     background: rgba(255, 255, 255, 0.3);
     padding: 1rem;
     width: 800px;
     height: 84px;
     margin: 0 auto;
     display: flex;
     flex-direction: row;
     justify-content: flex-start;
     align-items: flex-start;
 


 }

 .hero-input input,select {
    /* Rectangle 3 */
 
width: 174px;
height: 52px;
left: 16px;
right: -16px;
top: 16px;
bottom: -16px;
border-radius: 8px;

background: rgb(255, 255, 255);
border: none;
 margin: 1rem;
 color: rgba(19, 19, 24, 0.5);
font-family: Mulish;
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0%;
text-align: center;
cursor: pointer;
 
 } 

 .hero-input input{
    text-align: left;
 }

 



 .hero-content h3{
    color: white;
    font-size: 4rem;
 }

 .hero-content p{
    width: 676px;
    padding: 1.5rem 0;
    margin: auto;
    color: white;
 }

 /* popular style */

 .popular{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 60px;
    gap: 5rem;
 }

 .popular-content{
    width: 576px;
    height: 550px;
 }

 .popular-content p, li{
    text-align: left;
    margin: 1rem;
 }

 .title{
    text-align: left;
 }

 .popular-img img{
   
width: 540px;
height: 550px;
 
 }

 /* destination */

 .destination{
    margin-top: 60px;
 }

 .destination-content{
    width: 644px;
    height: 126px;
    margin: 0 auto;
 }
 .country-card{
    position: relative;
 }

 
 .row-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1rem 0;
    gap: 1rem;
 }

 .row-2{
    display: grid;
    grid-template-columns: .8fr 1.5fr .7fr;
    margin: 1rem 0;
    gap: 1rem;
 }

 
  
 .row-3{
   display: grid;
   grid-template-columns: 1fr 2fr ;
   margin: 1rem 0;
   gap: 1rem;
 }

 .destination-img img{
    width: 100%;
    height: 300px;
    filter: brightness(70%);
 }

 /* choose section */

 .choose{
   margin-top: 60px;

 }

 .choose-content{
   width: 644px;
   height: 52px;
   margin: 0 auto;
 }

 .choose-cards{
   margin-top: 80px;
   display: grid;
   grid-template-columns: repeat(2, 1fr );
   gap: 1rem;
 }

 .choose-card-1{
    background-color: bisque;
    border: 1px solid black;
    border-radius: 1rem;
    
  
 }
 .choose-card-2{
    background-color: rgb(196, 239, 255);
    border: 1px solid black;
    border-radius: 1rem;
     
   
  
 }
 
  

 

 .choose-box img{
   width: 10%;
   margin-bottom: 1.25rem;
   border: 2px dashed rgb(123, 123, 248);
 }

 .choose-box{
   padding: 2rem;
   display: flex;
   flex-direction: column;
   justify-content: left;
   align-items: left;
   
 }

 .choose-box p{
   text-align: left;
 }

 .choose-box:hover{
   border: 3px solid rgb(123, 123, 248);
   border-radius: 1rem;
 }


 /* deal section style */
 .deal-btn{
    text-align: center;
 }

 .deal-container{
   margin-top: 60px;
 }

 .deal-content{
   width: 644px;
   height: 126px;
   margin: 0 auto;
 }

 .discount-container{
   max-width: 90%;
   height: 500px;
   margin: 0 auto;
   border: 1px solid blue;
   border-radius: 1rem;
   background-image: url('./Images/Group\ 39.png');
   background-repeat: no-repeat;
   background-size: cover;
   margin-bottom: 30px;
 }

 .discount-container-2{
    
   max-width: 90%;
   height: 500px;
   margin: 0 auto;
   border: 1px solid blue;
   border-radius: 1rem;
   background-image: url('./Images/Group\ 39.png');
   background-repeat: no-repeat;
   background-size: cover;
   margin-bottom: 30px;
 }
 .discount-container-3{
    
   max-width: 90%;
   height: 500px;
   margin: 0 auto;
   border: 1px solid blue;
   border-radius: 1rem;
   background-image: url('./Images/Group\ 39.png');
   background-repeat: no-repeat;
   background-size: cover;
    
 }

 .discount{
   text-align: left;
   margin-top: 1rem;
 }
.icon{
    display: flex;
    gap: 1rem;
}

.icon i{
   color: red;
}

.discount-card{
   max-width: 500px;
   height: 300px;
   margin: 0 auto;
   background-color: white; 
   opacity: 75%;
   margin-top: 5rem;
   margin-left: 40rem;
   border-radius: 1rem;
   padding: 1rem;
}
.discount-card-2{
   max-width: 500px;
   height: 300px;
   margin: 0 auto;
   background-color: white; 
   opacity: 75%;
   margin-top: 5rem;
   margin-left: 3rem;
   border-radius: 1rem;
   padding: 1rem;
}
.discount-card-3{
   max-width: 500px;
   height: 300px;
   margin: 0 auto;
   background-color: white; 
   opacity: 75%;
   margin-top: 5rem;
   margin-left: 40rem;
   border-radius: 1rem;
   padding: 1rem;
}

 

  
